

.one {
    background-color: ghostwhite;
    border-left-width: 10;
    border: 1;
    border-style: ridge;
    margin-left: ;
}
h3{
    text-decoration: underline;
}
table{
    background-color: whitesmoke;
}
#one2{
    padding: 0px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    bor
}
span{
    color:blue; 
}
#to2{
    vertical-align: ;
}